@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,600;1,700&display=swap');
body {
	background-color: black
}

nav {
	background: transparent;
	height: 125px;
	padding-bottom: 20px;

}

nav li {
	display: inline;
	height: 125px;
	margin-right: 20px;
}

.navig {
	border: 1px solid white;
	padding: 40px;
}

nav li a {
	color: white;
	vertical-align: middle;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

.navig:hover {
	transition-duration: 0.5s;
	border: 1px solid rgb(190,0,250);
	color: rgb(190,0,250);
}
.navig:hover a {
	transition-duration: 0.5s;
	color: rgb(190,0,250);
}

.navig:not(:hover) {
	transition-duration: 0.5s;
}

.navig:not(:hover) a {
	transition-duration: 0.5s;
}

.logo {
	height: 125px;
	margin-right: 10px;
}

.emoji {
	height: 60px;
}

.congrats {
	background: linear-gradient(rgb(59, 0, 232), rgb(190, 0, 250));
	margin-bottom: 40px;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-right: 50px;
	padding-left: 80px;
	padding-bottom: 50px;
	padding-top: 30px;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}

.div2 {
	font-size: 35px;
	color: white;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}

.sticks {
	margin-left: 50px;
}

.sticker {
	height: 70px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.sticker:hover {
	transition-duration: 1s;
	transform: scale(1.2);
}

.emoji:hover {
	transition-duration: 1s;
	transform: scale(1.2);
}

.sticker, .emoji:not(:hover) {
	transition-duration: 1s;
}

button {
	background: transparent;
	color: rgb(190,100,250);
	border-radius: 20px;
	border: 2px solid rgb(190,100,250);
	height: 50px;
	width: 50%;
	margin-left: 50px;
}

button:hover {
	background: linear-gradient(rgb(59, 0, 232), rgb(190, 0, 250));
	border: transparent;
	color: white;
}
